# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db
*.sqlite3

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# React
node_modules/
build/
dist/

# Dataset
dataset/